.gameback {
    background-color: black; 
}

#question {
    color: white; 
    position: absolute; 
    top: 69%; 
    left: 35%;
    font-family: 'Source Code Pro', monospace;
}

#play {
    background-color: black; 
    outline: 0 none; 
    border: 0 none; 
    border-color: black; 
    box-shadow: black; 
    color: white;
    position: absolute; 
    top: 76%; 
    left: 35%; 
    font-family: 'Source Code Pro', monospace;
}

#no {
    color: white; 
    position: absolute;
    top: 78%;
    left: 35%;
    font-family: 'Source Code Pro', monospace;
}

.source {
    font-family: 'Source Code Pro', monospace;
    color: white; 
    position: absolute; 
    top: 50%; 
    left: 40%; 
}