.gameback {
    background-color: black;
}

#title1 {
    /*text-align: center;*/
    position: absolute;
    left: 23%;
    top: 18%;
}

#question {
    color: white;
    position: absolute;
    top: 69%;
    left: 35%;
    font-family: 'Source Code Pro', monospace;
}

#play {
    background-color: black;
    outline: 0 none;
    border: 0 none;
    border-color: black;
    box-shadow: black;
    color: white;
    position: absolute;
    top: 76%;
    left: 35%;
    font-family: 'Source Code Pro', monospace;
}

#no {
    color: white;
    position: absolute;
    top: 78%;
    left: 35%;
    font-family: 'Source Code Pro', monospace;
}

#gameback{
  background-color: black;

}

.source {
    font-family: 'Righteous', cursive;
    font-size: 50px;
    color: #336600;
    text-align: center;
    margin-top: 5%;
}

#bar {
    color: white;
    font-family: 'Righteous', cursive;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    position: fixed;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 235px;
  width: auto;
}

li {
    display: inline;
    /* the original display for li elements is block */
}

.bar-item {
  color: white;
  margin-left: 10px;
  margin-right: 5px;
  font-family: 'Bangers', cursive;
  font-size: 20px;
}

.bar-num {
  color: white;
  font-family: 'Bangers', cursive;
  font-size: 20px;
}

#game-text{
  border-width: 2px;
  border-color: white;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 100px;
}

p {
  color: white;
}
